body {
    background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
    url(../img/vaporwave-wallpaper-4k.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "Connection";
}

h1 {
    font-family: "CasaleNbp";
}

h2 {
    font-family: "CasaleNbp";
}

.recipe {
    margin: 25px;
    font-size: 3.2em;
}

.recipeList {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.recipeList li {
    display: block;
    list-style-type: none;
    text-decoration: none;
    box-shadow: none;
    flex: 0 1 auto;
}

.description {
    padding-top: 25px;
}

.ingredientList {
    text-align: center;
    list-style-position: inside;
}

.stepList {
    text-align: center;
    list-style-position: inside;
}

.container {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}



@font-face {
    font-family: "CasaleNbp";
    src: url("../sources/CasaleNbp-JE7K.ttf");
}

@font-face {
    font-family: "Connection";
    src: url("../sources/Connection-arMJ.otf");
}